.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 64px;
}

.skills__list {
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  height: 180px;
  max-width: 720px;
  width: 100%;
  @media screen and (max-width: 780px) {
    height: 240px;
  }

  li {
    margin-bottom: 8px;
    width: 240px;
    text-align: center;
    @media screen and (max-width: 780px) {
      width: 160px;
    }
  }
}
