.projetos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

.projetos__containerButtons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
