.tag {
  background-color: var(--light);
  border-radius: 4px;
  margin: 4px;
  padding: 2px 4px;
  font-size: 12px;
  color: var(--dark);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

.tag:first-child {
  margin-left: 0;
}

.tag:last-child {
  margin-right: 0;
}
