.button {
  outline: 0;
  font-family: Montserrat;
  padding: 16px 24px;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid transparent;
  margin: 16px;
  background-color: var(--dark);
  color: var(--light);
  border: 2px solid transparent;
  &:hover,
  &:focus {
    box-shadow: 0px 0px 16px var(--black);
    border-color: var(--white);
  }
  &:active {
    transform: translate(0, 2px);
  }
}

.button_light {
  color: var(--dark);
  background-color: var(--light);
}

.button_transparent {
  background-color: transparent;
  &:hover,
  &:focus {
    box-shadow: none;
    color: var(--white);
    border-color: var(--gray-dark);
  }
}

.button_letterSpacing {
  letter-spacing: 4px;
  font-weight: 500;
}
