.button {
  outline: 0;
  font-family: Montserrat;
  padding: 16px 24px;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: 0;
  margin: 16px;
  background-color: var(--dark);
  color: var(--light);
  &:hover {
    color: var(--light-hover);
  }
}

.button_light {
  color: var(--dark);
  background-color: var(--light);
  &:hover {
    color: var(--dark);
    background-color: var(--light-hover);
  }
}

.button_transparent {
  background-color: transparent;
}

.button_letterSpacing {
  letter-spacing: 4px;
  font-weight: 500;
}
