html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
  background: radial-gradient(
    28.68% 57.26% at 35.4% 47.82%,
    var(--gray-dark) 0%,
    var(--dark) 100%
  );
  color: var(--light);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: 0;
  border: 0;
}

* {
  box-sizing: border-box;
}

$white: #fff;
$black: #000;
$dark: #242424;
$dark-hover: #353535;
$light: #d8d8d8;
$light-hover: #bdbdbd;
$gray: #838383;
$gray-hover: #6d6d6d;
$gray-dark: #3a3a3a;
$gray-dark-hover: #222222;
$gray-light: #c2c2c2;
$gray-light-hover: #8d8d8d;
$gray-light-transparent: rgba($gray-light, 0.6);
$gray-dark-transparent: rgba($gray-dark, 0.6);

.theme {
  --white: #{$white};
  --black: #{$black};
  --dark: #{$dark};
  --dark-hover: #{$dark-hover};
  --light: #{$light};
  --light-hover: #{$light-hover};
  --gray: #{$gray};
  --gray-hover: #{$gray-hover};
  --gray-dark: #{$gray-dark};
  --gray-dark-hover: #{$gray-dark-hover};
  --gray-light: #{$gray-light};
  --gray-light-hover: #{$gray-light-hover};
  --gray-dark-transparent: #{$gray-dark-transparent};
  --gray-light-transparent: #{$gray-light-transparent};
}

.theme_light {
  --black: #{$white};
  --white: #{$black};
  --light: #{$dark};
  --light-hover: #{$dark-hover};
  --dark: #{$light};
  --dark-hover: #{$light-hover};
  --gray-dark: #{$gray-light};
  --gray-dark-hover: #{$gray-light-hover};
  --gray-light: #{$gray-dark};
  --gray-light-hover: #{$gray-dark-hover};
  --gray-dark-transparent: #{$gray-light-transparent};
  --gray-light-transparent: #{$gray-dark-transparent};
}
